*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --pink: #e91e63;
    --teal: #009688;
    --purple: #9c27b0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Ubuntu', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
}

@media screen and (max-width:768px){
        body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

   

    .nav-active{
        transform: translateX(0%);
    }
} 

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
   
.btn {
    background-color: var(--purple);
    padding: 0.5em 1.5em;
    font-size: 1.5em;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 1.5m 1.5em 1.5em 1.5em;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px #00000040
}


    
    
    
    
    
    
    
    
    
    
